
<div class = "container">
<h3> New Employee </h3>

<%= form_for @employee  do |s|%>

<% if @employee.errors.any? %>
    <ul>
        <% for msg in @employee.errors.full_messages %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="form-group ">
 <div class="col-md-4">


    <label> Name </label>
    <%= s.text_field :name%><br/>
</div>
</div>

<div class="form-group ">


    <label> Date of Birth </label>
   <%= s.date_field :date_of_birth%><br/>
</div>



<div class="form-group ">
        <div class="col-md-4">


	<label>Gender</label><br/>
	<%= s.radio_button(:gender, "female", :checked => (:gender == 'female')? true:false) %>Female
    <%= s.radio_button(:gender, "male", :checked => (:gender == 'male')? true:false) %>Male<br/>
</div>
</div>

<div class="form-group ">

    <label> Date of Joining </label>
    <%= s.date_field :date_of_joining%><br/>
</div>

<div class="form-group ">


    <label>Address</label>
    <%= s.text_area :address%><br/>
</div>

<div class="form-group ">

     <div class="col-md-4">

<label>State :</label><br/>
<%#= f.collection_select(:course_id, courses, :id, :name, prompt: "Select Course")%>
<%= s.collection_select :state_id, State.all, :id, :name, prompt: "select state"%><br/>
<br/>
</div>
</div>



<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 <i class="icon-ok icon-white"></i> Save changes
<% end %>

<%end%>
</div>


