<h3>SalaryStructure</h3>


<table class="table table-condensed">
	<thead>
		<tr>
			<th> Employee </th>
			<th> Basic </th>
			<th> HRA </th>
			<th>conveyonce</th>
			<th>special alloance</th>
			<th>gross salary</th>
		</tr>
	</thead>
	<tbody>
		<% @structures.all.each do |structure| %>
		<tr> 	
			 
			<td> <%= structure.employee.try(:name)%></td>
			<td> <%= structure.basic %> </td>
			<td> <%= structure.hra %> </td>
			<td> <%= structure.conveyonce %> </td>
			<td> <%= structure.special_allowance%> </td>
			<td> <%= structure.gross_salary %></td>
			
		</tr>
		<%end%>
	</tbody>
</table>


<%= link_to "new structure", new_salary_structure_path%>


<%#= SalaryStructure.gross_salary%>