<p id="notice"><%= notice %></p>




<h1>Listing Leave Applies</h1>

<table calss="table" id="myTable">
  <thead>
    <tr>
      <th> Pay Month</th>
      <%for leave_head in @leave_heads%>
        <th><%=leave_head.name%></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @leave_applies.each do |leave_apply| %>
      <tr>
        <td><%= leave_apply.name %></td>
        <%head_values = leave_apply.head_values.delete("^0-9 ").split()%>
        <%for head_value in head_values%>
         <td> <%= head_value%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Leave apply', new_leave_allotment_leave_apply_path %>
