	<%= form_for [@employee,@leave_employee] do |s| %>
<div class="form-group">
  <label>Select leave head:</label>
  <%= s.collection_select :head_name, @leave_heads, :name, :name%>
     <%#= s.collection_select :number_id, Number.all, :id , :number, prompt: "select state"%>
  </div>


   <div class="form-group">

   <lable>From Date :</lable>
   <%= s.text_field :from_date,:id => 'emp1_from_date'%>
   
   </div>



	<div class="form-group" >

    <lable>To Date :</lable>
    <%= s.text_field :to_date,:id => 'emp`2_to_date'%>
	
	</div>
 	<%= s.submit%>
 	<%end%>